
<h2>Category Profile - <%=@category.name.capitalize%></h2>
    <%# want to iterate through and display all products in the category %>
    <ol>
    <%@products.each do |product|%>
        <li><%=product.name.capitalize%> - <%=product.inventory%></li>
    <%end%>
    </ol>
    <br>
    <form action="/categories/<%=@category.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value=" Delete Category ">   
    </form> 
    <a href="/categories/<%=@category.id%>/edit"><button>  Edit Category  </button></a>



   